/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";
@import "compass/css3";
@import "compass/layout";
@import "compass/typography";
@import "compass/utilities";

$blue: #3498db;
$font: Arial, Helvetica, sans-serif;
$hcolor: #fff;
$txtcolor: #333333;



body {
  	font-family: $font;
  	margin: 0 auto;
  	background: #fff;
  	
	min-width: 320px; 
	// max-width: 799px; 
}

.clearfix {
	content: "";
	display: table;
	clear: both;  
}

.main-header {
	// width: 320px;
	// margin: 0 auto;
	background: $blue;
	padding-top: 16px; 
	padding-bottom: 11px;
}
	.container {
		// width: 300px;
  		//margin: 0 auto;
  		text-align: center;
  		
  		.main-info {
  		width: 270px;
  		margin: 0 auto;  	
  		
	  		.logo {
			    a.logo-link {
			    	display: inline-block;
			    	width: 51px;
				    height: 51px;
				    margin: 0 auto;
				    border: 2px solid #fff;
				    border-radius: 50%;
				    line-height: 49px;
				    font-size: 20px;
				    text-align: center;
				    color: #fff;
				    text-decoration: none; 
			    }
	    	}
	    	.big-heading {
			    h1 {
			    	position: relative;
			        width: 176px;
			        margin: 0 auto;
			        margin-bottom: 11px;   
			        font-size: 20px;
			        line-height: 37px;
			        text-transform: uppercase;
			        color: $hcolor;
			        border-bottom: 1px solid #3070a8;
			    }
			}
			.social {
		        span.social-text {
		        	display: inline-block;
		        	font-size: 13px;
		        	line-height: 25px; 
		        	color: $hcolor; 	
		        }
		        a.social-btn {
		        	display: inline-block;
		        	vertical-align: bottom; 
		        	margin-right: 3px;  
		        } 
		      	a.social-btn-fb:before {
			        content: url("../image/icon-fb.png");
		        }
		        a.social-btn-fb:hover:before {
		        	opacity: 0.7; 
		        }
		        a.social-btn-gl:before {
		            content: url("../image/icon-gl.png");
		        }
		        a.social-btn-gl:hover:before {
		        	opacity: 0.7; 
		        }
		        a.social-btn-tw:before {
		            content: url("../image/icon-tw.png") ;
		        }
		        a.social-btn-tw:hover:before {
		        	opacity: 0.7; 
		        }
		    }
		}    	
	}	

// *** Header style

.banner {
	position: relative;
	text-align: center;
	.container {
  		.banner-header {
  			background: #2980b9;
  			color: $hcolor;
  			padding-top: 35px;
  			padding-bottom: 185px; 
  			.banner-header-title {
  				h2 {
  					margin: 0 auto; 
  					font-size:  40px;
  					line-height: 42px;
  					font-weight: bold;
  					text-transform: uppercase;
  					margin-bottom: 14px; 
  				}	
  			}
  			.banner-header-text {
  				padding: 0 35px; 
  				font-size:  16px;
  				line-height: 28px;
  			}
  		}
  		.banner-main {
			padding: 0px 7%; 
			padding-top: 390px;
			padding-bottom: 40px;
			margin-bottom: 23px; 
  			background: #F2F2F2;
  			-webkit-border-radius: 0 0 320px/0 0 1px;
			-moz-border-radius: 0 0 320px/0 0 1px;
			border-radius: 0 0 320px/0 0 1px;
			background-color: #f2f2f2;
			-webkit-box-shadow: inset 0 -1px rgba(0,0,0,.05);
			-moz-box-shadow: inset 0 -1px rgba(0,0,0,.05);
			box-shadow: inset 0 -1px rgba(0,0,0,.05);
			color: $txtcolor;
  			.banner-main-title {
  				font-size:  15px;
  				line-height: 42px;
  				font-weight: bold;
  				text-transform: uppercase;
  			}
  			.banner-main-text {
  				font-size:  12px;
  				line-height: 20px;
  			}
  		}
  		.banner-form {
  			position: absolute;
  			right: 3%;
  			top: 19%; 
  			width: 94%;
			padding-top: 34px;
			background-color: #fff;
			-webkit-box-shadow: inset 0 -5px #3498db;
			-moz-box-shadow: inset 0 -5px #3498db;
			box-shadow: inset 0 -5px #3498db;
			.banner-form-title {
				h4 {
					font-size:  20px;
  					line-height: 20x;
  					text-transform: uppercase;
  					color: $txtcolor;
  					margin-bottom: 29px; 
				}	
			}
			.registration-form {
				input[type="text"],
				input[type="tel"], 
				input[type="number"],
				input[type="email"],
				textarea {				 
					width: 87%;
					margin-bottom: 8px;
					padding: 7px 15px;
					font-family: $font;
					font-size: 15px;
					line-height: 20px;
					color: $txtcolor;
					border: solid 1px #e6e6e6;
					outline: none;
					background: #F2F2F2;
					resize: none;
					-moz-box-sizing: border-box; 
    				box-sizing: border-box; 
				}
				input[type="number"] {
    				-moz-appearance: textfield;
				}
				input[type="number"]::-webkit-inner-spin-button {
    				-webkit-appearance: none;
				}
				input.select {
					background-image: url('../image/select-arrow.png') ;
					background-repeat: no-repeat;
					background-position: right center;
				} 
				input::-webkit-input-placeholder {
					font-family: $font;
					font-size: 15px;
					line-height: 20px;
				}
				input::-moz-input-placeholder {
					font-family: $font;
					font-size: 15px;
					line-height: 20px;
				}
				textarea::-webkit-resizer {
    				display: none;
				}
				textarea {
					height: 77px; 
					margin-bottom: 8px;
				}
				textarea::-webkit-input-placeholder {
					font-family: $font;
					font-size: 15px;
					line-height: 20px;
				}
				textarea::-moz-input-placeholder {
					font-family: $font;
					font-size: 15px;
					line-height: 20px;
				}
				input:focus {
					outline: none;
  					box-shadow: 0 0 1px 1px #4d90f0;
				}
				input[type="number"]:focus::-moz-inner-spin-button {
    				-moz-appearance: none;
				}
				textarea:focus {
					outline: none;
  					box-shadow: 0 0 1px 1px #4d90f0;
				}
				.btn {
					margin-top: 16px;
					margin-bottom: 30px;
					width: 200px;
					height: 50px;
					font-size: 20px;
					line-height: 28px;
					background: #e74c3c;
					color: #FFF;
					cursor: pointer;
					outline: none;
					border: none; 
				}
				.btn:hover{
					background: #E73F2D; 
				}
			}			
  		}
  	}
}
// *** Banner style    

.features {
	text-align: center;
	margin-bottom: 30px; 
	.container {
		border-bottom: 1px solid #e6e6e6;
		.features-inner {
			.features-ineer-title {
				h5 {
					margin-bottom: 23px; 
					font-size: 20px;
					line-height: 42px;
					text-transform: uppercase;
					color: #3498db;  
				}
			}
			.features-inner-items {
				.item {
					margin-bottom: 50px; 
					.image-item {
						margin-bottom: 20px;
						img {
							vertical-align: bottom;
						} 
					}
					.item-title {
						font-size: 15px;
						line-height: 42px;
						color: $txtcolor; 
						text-transform: uppercase;
						font-weight: bold;
					}
					.item-text {
						padding: 0px 7%;
						margin-bottom: 20px;  
						p {
							font-size: 13px;
							line-height: 20px;
							color: $txtcolor; 
						}
					}
					.view {
					    a {
					    	display: inline-block;
					    	width: 52px;
					    	height: 52px;
					    	font-size: 13px;
						    line-height: 52px;
						    text-transform: uppercase;
						    text-align: center;
						    color: $txtcolor;
					    	text-decoration: none;
					    	border: 1px solid #e6e6e6;
					    	border-radius: 50%;
					    }
					    a:hover {
					    	text-shadow: 0px 0px 9px rgba(150, 150, 150, 0.8);
							background: #f2f2f2;
							border: 1px solid #d3d1d1;
						} 
					}
				}
			}
		}
	}
}
// *** Features style

.feedbacks {
	position: relative;
	background: linear-gradient(to bottom, #fff 0%, #fff calc(100% - 240px), #f2f2f2 calc(100% - 240px), #f2f2f2 100%);
	.container {
		text-align: center;
		padding: 0 3%;
		.feedbacks-title {
			margin-bottom: 25px; 
			font-size: 20px;
			line-height: 30px;
			color: $blue;
			text-transform: uppercase;   
		}
		
			.feedbacks-nav {
				margin-bottom: 60px; 
				a {
					display: inline-block;
					width: 38px;
					height: 38px;
					
					border: 1px solid #e6e6e6;
					border-radius: 50%;
				}
				a:hover {
					background: #f2f2f2; 
				}		
				.prev:before {
					float: left;
		   			margin-left: 11px;
		   			content: "\2039";
		   			font-size: 40px;
		   			text-align: center;
		   			line-height: 30px;   
					color: #959595;
				}
				.prev:hover:before {
				 	color: #484848;
				}
				.next:before {
					float: right;
		   			margin-right: 11px;
		   			content: "\203A";
		   			font-size: 40px;
		   			text-align: center;
		   			line-height: 30px; 
					color: #959595 ;
				}
				.next:hover:before {
				 	color: #484848;
				}
			}
			.feedbacks-text {
				position: relative;
				margin-bottom: 230px; 
				p {
					font-size: 13px;
					line-height: 20px;
					text-align: left;
					color: $txtcolor;
				
				}
				.feedbacks-autor {
					font-size: 13px;
					line-height: 42px;
					font-weight: bold; 
					text-transform: uppercase; 
					text-align: right;
					color: $txtcolor;
				}
				.feedbacks-autor:before {
					content: "\2013";
					font-size: 15px;
					line-height: 42px;
					font-weight: bold;
				}
			}
			.feedbacks-text:before {
				position: absolute;
				top: -35px;
				left: 0;
				font-size: 50px;
				line-height: 42px;
				font-weight: bold; 
				color: #F2F2F2;   
			    content: open-quote;
			    width: 19px;
			    height: 15px;  
			}
			.feedbacks-text:after {
				position: absolute;
				bottom: -10px;
				right: 0;
				font-size: 50px;
				line-height: 42px;
				font-weight: bold; 
				color: #F2F2F2;
			    content: close-quote;
			    width: 19px;
			    height: 15px;   
			}
		
		.action-button {
			a {
				position: relative;
				max-width: 300px; 
				display: inline-block;
				margin-bottom: 50px; 
				background: #E74C3C;
				padding:14px 30px 55px 30px;
				font-size: 20px;
				line-height: 32px;
				color: #FFF; 
				text-transform: uppercase;   
				text-decoration: none; 
				z-index: 100;
			}
			a:after {
				display: block;
				position: absolute;
				bottom: 14px;
				right: 45%;  
				width: 32px;
				height: 32px;
				font-size: 30px;
				line-height: 30px;
				text-align: center;   
				border: 1px solid #fff;
				border-radius: 50%;
		   		content: "\203A";
		   		font-size: 30px;
				color: #fff ;
			}
		}
		.action-button:after {
			position: absolute;
			content:  "";
			width: 100%;
	        height: 364px;
	        background: transparent url("../image/student.png") no-repeat;
	        bottom: 0;
	        left: 50%;
	       	margin-left:-100px;
		}				
	}

}



// *** Feedbacks style
.main-footer {
	// width: 320px;
	// margin: 0 auto;
	background: $blue;
	padding-top: 30px; 
	padding-bottom: 11px;
	.container {
		.footer-info-wrap {
			margin: 0 auto;
		}

		.social {
			margin-bottom: 30px; 
		}
	
		.footer-info {
			font-size: 13px;
			line-height: 18px;
			color: #fff;
			margin-bottom: 65px;
			.footer-designed {
				a {
					text-decoration: none;
					font-size: 13px;
					line-height: 18px;
					color: #fff
				}
				a:hover {
					color: #F2F2F2;
				}
			}  
		}
	}	
} 
// *** Footer style

@media (min-width: 800px) {
	
		.container {
			.main-info {
				width: 100%;
				.logo,
				.big-heading {
					float: left;
				}
				.logo {
					padding-left: 22px; 
				}
				.social {
					float: right;
					margin-top: 12px;
					padding-right: 22px;  
				}
				.big-heading {
					h1 {
						width: auto;
						margin-left: 22px;
						font-size: 26px;   
						line-height: 55px;
						border: none;
					}
				}

			}

		}
	
	// *** Heder style

	.banner {
		.container {
			.banner-header {
				padding: 90px 22px;
				.banner-header-text {
					padding: 0;
					font-size: 25px;
					line-height: 36px;	  
				}	
			}
			.banner-header-title,
			.banner-header-text,
			.banner-main-title,
			.banner-main-text {
				width: 52%;
				text-align: left;			 
			}
			.banner-main {
				padding: 22px 26px;
				padding-bottom: 35px; 
				 .banner-main-text {
				 	font-size: 13px; 
				 }
			}
			.banner-form {
	  			position: absolute;
	  			top: 30px; 
	  			width: 43%;
				padding-top: 34px;
				background-color: #fff;
				-webkit-box-shadow: inset 0 -5px #3498db;
				-moz-box-shadow: inset 0 -5px #3498db;
				box-shadow: inset 0 -5px #3498db;
			}
		}
	}
	// *** Banner style
	
	.features {
		text-align: left;
		.container {
			padding: 0 22px;
			.features-inner {
				text-align: left;
				.features-inner-items {
					.item {
						.image-item,
						.item-info {
							display: inline-block;
							vertical-align: top; 
						}
						.image-item {
							margin-right: 20px; 
						}
						.item-info {
							width: 58%;
							.item-title {
								line-height: 12px;
								margin-bottom: 19px;  
							}
							.item-text {
								padding: 0;
								margin-bottom: 15px;  
							} 
						}

					}
				}
			} 
		}
	}
	// *** Features style
	
	.feedbacks {
		background: linear-gradient(to bottom, #fff 0%, #fff calc(100% - 190px), #f2f2f2 calc(100% - 190px), #f2f2f2 100%);
		.container {
			text-align: left;
			padding: 0 22px;
			.feedbacks-title {
				float: left;
				margin: 0;
				line-height: 43px;  
			}
			.feedbacks-nav {
				float: right;
			}
			.feedbacks-text {
				width: 70%;
				margin-bottom: 130px;  
			}
			.action-button {
				a {
					max-width: 700px;
					padding:11px 87px 12px 30px; 
				}
				a:after {
					right: 34px;
					bottom: 10px;
				} 
			}
			.action-button:after {
				left: 100%;
				margin-left: -250px;
			}
		}
	}
	// *** Feedbacks style
	
	.main-footer {
		.container {
			text-align: left;
			.main-info {
				.big-heading {
					h1 {
						width: 165px;
						line-height: 30px;
						padding-right: 20px;
						margin-right: 20px; 
						border-right: 1px solid #3070a8;
					}	
				}
				.footer-info-wrap {
					float: left;
					width: 450px; 
					.footer-info {
						.footer-copyright,
						.footer-created, 
						.footer-designed {
							display: inline-block;
						}
					}
				}
				.social {
					float: none;
					margin: 0;
					margin-bottom: 5px; 
					
				}
			}
		}
	}
}
